body{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 360px;
    background-image: url("/static/img/bg-dashboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
.intro{
    height: 285px;
    display: flex;
}
.welcome{
    text-align: left;
    padding: 20px 0 0 25px;
    margin: 0;
    width: 60%;
    height: auto;
}
.welcome p{
    font-family: "Oleo Script";
    color: white;
    margin: 0;
    padding: 0;
}
.welcome p:nth-child(1){
    font-size: 64px;
    line-height: 1.5;
}
.welcome p:nth-child(2){
    font-size: 36px;
    line-height: 1;
}
/* .welcome p:nth-child(3){
    margin-top: 10px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: bold;
    color: rgba(255, 255, 255, 0.795);
} */
.introimg{
    width: 40%;
    padding-left: 200px;
}
.imgambar{
    background-image: url("/static/img/gmbr_admin.png");
    background-size: contain;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    transform: rotate(-10deg);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background-color: white; */
}
.page-item{
    margin: 0;
    width: 100%;
    height: auto;
}
.bg-container-item{
    height: 50vh;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    background-color: #3e2680;
    z-index: -1;
}
.container-item{
    height: auto;
    width: 100%;
    padding: 8px 20px 5px 20px;
    background-color: #3e2680;
    
}
.list-item{
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}
.item{
    width: 100%;
    height: 250px;
    background-color: #1E1E1E;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
    display: flex;
}
.img-item {
    height: 215px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    width: 40%;
    overflow: hidden; 
}
.img-item img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.detail{
    height: 215px;
    padding: 0 10px 10px 20px;
    width: 60%;    
}
.detail .deskirpsi{
    margin: 0;
    width: 100%;
    height: 170px;
    padding: 10px;
    font-family: "Poppins";
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3e2680;
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.request{
    display: flex;
}
.request p:nth-child(1){
    margin-top: 6px;
    width: 45%;
    height: 40px;
    padding: 6px 0 0 10px;
    font-family: "Poppins";
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3e2680;
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.request p:nth-child(2){
    width: 25%;
}
.detail .reject{
    float: right;
    height: 40px;
    width: 100px;
    margin: 6px 0 0 0px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: #842A2A;
}
.detail .edit{
    float: right;
    height: 40px;
    width: 100px;
    margin: 6px 0 0 5px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: #69842a;
}
.detail .accept{
    float: right;
    height: 40px;
    width: 100px;
    margin: 6px 0 0 5px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: #046003;

}
.detail button:hover{
    color: white;
    background-color: #1E1E1E;
}

/* Modal Edit */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}
.modal1-content {
    background-color: #3e2680;
    margin: 45px auto;
    margin-bottom: 0;
    padding: 25px;
    width: 40%;
    height: 500px;
    text-align: center;
    border-radius: 10px;
}
.titleModalDetail{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
}
.titleModalDetail p{
    margin: 0;
    width: 300px;
    background-color: #1E1E1E;
    padding: 10px 15px 10px 15px;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.imgModalDetail{
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden; 
}
.imgModalDetail img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.contentModalDetail{
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    height: 270px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.titleItemModal{
    margin: 0;
    padding: 10px;
    text-align: left;
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
    background-color: white;
}
.titleItemModal input{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    color: #1E1E1E;
}
.descriptionItem{
    margin: 10px 0;
    height: 190px;
    padding: 10px;
    text-align: left;
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
    background-color: white;
}
.descriptionItem textarea{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    color: #1E1E1E;
}
.edit-mdl{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25); */
    background-color: #69842a;
    border-radius: 7px;
}